// Config vars
$purple: #3C2D82
$light-purple: #C4C0D9
$light-blue: #b9d5fd
$clear-blue: #3273dc
$title-blue: #0398fc
$white: white
$white-ter: white
$font-weight-strong: 600
$font-weight-very-strong: 800
$primary: $purple
$primary-invert: $light-purple
$secondary: $light-blue
$black: #2b2523
$link-color-on-light: $clear-blue
$violet: purple
$light-violet: red
$serif: 'times new roman'
$sans-serif: 'comic sans'
$lightgray: 'lightgray'

body,
button,
input,
textarea
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important

.has-background-primary-dark
  background-color: $primary

.has-background-secondary-dark
  background-color: $secondary

.has-color-primary-dark
  color: $primary

#can-form-area-join-our-campaign-for-progress-2
  h2
    display: none !important
  h4
    display: none !important
  #action_welcome_message_inner
    display: none !important
  form .form_builder_output
    display: none !important
  form .international_link-wrap
    display: none !important
  form .country_drop_wrap
    display: none !important
  form #d_sharing
    display: none !important
  form .ajax-loading
    display: none !important
  #action_info
    display: none !important
  #logo_wrap
    display: none !important

form
  div#form_col1
    display: flex

  div#form_col2
    input[type='submit']
      cursor: pointer;
      border: 0;
      background-color: $violet;
      border: 4px;
      color: $light-violet;

      font-family: $serif;
      font-size: 18px;
      padding: 5px 10px;
      border-radius: 4px;
      box-shadow: 0px 1px 1px rgba(255,255,255,0.2);
      margin-top: 10px;

      transition: background-color 0.4s, color 0.4s, font-weight 0.4s;

      &:hover
        background-color: $light-violet;
        color: $violet;
        font-weight: 800;



    //         .core_field

    //             &:nth-child(2)
    //                 flex-grow: 1;
    //                 flex-basis: 0;


    //             label
    //                 font-size: 12px;
    //                 text-transform: uppercase;
    //                 display: block;
    //                 letter-spacing: 0.7pt;
    //                 color: #333333;

    //             input[type='text'],input[type='email']
    //                 font-size: 16px;
    //                 padding: 5px;
    //                 border-radius: 2px;
    //                 font-family: $sans-serif;
    //                 border: 0;
    //                 background-color: $lightgray;
    //                 width: calc(100% - 20px) !important;
    //                 margin-top: 5px;

    //                 &::placeholder
    //                     color: $lightgray


    //                 // &.error_input
    //                 //     background-color: $error-red;






    form li
        list-style: none;


.btn
  background-color: green

// for specificity
#navbar
  min-height: 4.25rem
  position: fixed
  top: 0
  background: $primary
  width: 100%

#navbar .navbar-burger.burger
  color: $secondary

.navbar .navbar-menu
  box-shadow:none !important

.navbar .navbar-title
  font-family: Oswald
  color: $title-blue
  font-size: 40px
  font-weight: $font-weight-strong

h1
  font-family: Oswald
  color: $primary !important
  margin-bottom: 20px

.navbar .navbar-link
  color: $white
  font-weight: $font-weight-very-strong

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $primary-invert
$menu-item-active-background-color:	$primary-invert
$menu-list-border-left: 1px solid $primary-invert
$menu-label-color: $white-ter


.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// blog roll
.blog-list-item.is-featured
  background-color: #d6400033
.blog-list-item header
  display: flex
  margin-bottom: 1em
.blog-list-item .featured-thumbnail
  flex-basis: 35%
  margin: 0 1.5em 0 0


@import "~bulma"


// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 70%
    margin: 0 0 1em
+desktop
  #billboard
  display: flex
  flex-direction: column

  #can-form-area-join-our-campaign-for-progress-2
    width: 100%
    position: absolute
    top: 60px

+touch
  section
    padding-top: 0 !important
    padding-bottom: 0 !important
  .section
    padding-top: 10px !important

  #billboard
    display: flex
    flex-direction: column

    #can-form-area-join-our-campaign-for-progress-2
      display: flex
      width: 100%
      justify-content: center
      width: 100%

  .navbar .navbar-link
    color: $link-color-on-light

.page-content
  margin-top: 70px

.issue
  margin-bottom: 20px
