.billboard {
  display: flex;
  flex-direction: column;
}

.action-network-section {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .hero--image {
    height: 460px;
    object-fit: cover;
    object-position: center;
  }

  .action-network-section {
    position: absolute;
    width: 45%;
    right: 1rem;
    top: 150px;
  }
}


