.billboard {
  display: flex;
  flex-direction: column;
}

.action-network-section {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .hero-image {
    object-fit: cover;
    object-position: center;
      min-height: 520px;
  }

  .action-network-section {
    position: absolute;
    width: 50%;
    right: 1rem;
    top: 180px;
  }
}

.hero-image {
  border-bottom: 10px solid #000;
}

@media screen and (max-width: 767px) {
  .hero-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}
