.paid-for-message {
  border: 1px solid;
  width: auto;
  padding: 7px;
  display: inline-block;
  margin: 8px 7px 5px 7px;
}

.footer-info {
  color: black;
  display: inline-block;
  margin-bottom: 10px
}

.contact-line {
  color: black;
  font-size: 12px;
}

.contact-line a {
  cursor: pointer;
  color: black;
}

.contact-line a:hover {
  color: black;
}

.social a {
  filter: invert(100%);
}
