.page-under-navbar-desktop {
  margin-top: 130px;
}

.page-under-navbar-mobile {
  display: None;
}

@media (max-width: 600px) {
  .page-under-navbar-mobile {
    margin-top: 80px;
    display: block;
  }
  .page-under-navbar-desktop {
    display: None;
  }
}
